<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <label for="username">Username: </label>
  <input type="text" formControlName="username" id="username">
  <br>
  <label for="password">Password: </label>
  <input type="password" formControlName="password" id="password">
  <br>
  <button type="submit">Login</button>
</form>
<button type="button" (click)="navigateToRegister()">Register</button>
