<form [formGroup]="registerForm" (ngSubmit)="submit()">
  <label for="username">Username: </label>
  <input type="text" formControlName="username" [ngClass]="{'input-error': !registerForm.get('username').valid && registerForm.get('username').touched}" id="username">
  <br>
  <label for="password">Password: </label>
  <input type="password" formControlName="password" id="password"  [ngClass]="{'input-error': !registerForm.get('password').valid && registerForm.get('password').touched}">
  <br>
  <label for="country">Country: </label>
  <input type="text" formControlName="country" id="country" [ngClass]="{'input-error': !registerForm.get('country').valid && registerForm.get('country').touched}">
  <br>
  <label for="jobInterval">Job Interval (minutes): </label>
  <input type="number" formControlName="jobInterval" id="jobInterval" maxlength="60"  [ngClass]="{'input-error': !registerForm.get('jobInterval').valid && registerForm.get('jobInterval').touched}">
  <br>
  <button type="submit">Register</button>
</form>
<button type="button" (click)="back()" >Back</button>
